.news-overall{
    color: white;
    margin: auto;
}

.news-stories {
    text-align:center; 
}

.news-container-primary {
    display:flex; 
    justify-content: center;
    margin: 10px;
}

.news-block-primary {
    display:flex; 
    flex-direction:column;
    align-items:center; 
    min-width: 250px;
    width:450px; 
    height: 100%;
    border-radius: 5%; 
    cursor:pointer; 
}

.news-block-primary:hover{
    background-color: var(--main-background-hover-color);
}

.news-image-primary {
    width: 300px;
    height: 200px;
    padding: 20px 20px 0px 20px;
    border-radius:10%; 
}

.news-title-primary {
    margin: 0;
    padding: 0px 20px 0px 20px;
    word-wrap: break-word;
}

.news-container {
    display: flex;
    flex-wrap: wrap;
    justify-content:center; 
}

.news-block-secondary {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 250px;
    width: 450px;
    margin: 10px;
    border-radius: 10%;
    cursor: pointer;
}

.news-block-secondary:hover {
    background-color: var(--main-background-hover-color);
}

.news-image-secondary {
    width: 200px;
    height: 150px;
    padding: 20px; 
    border-radius:20%; 
}

.news-title-secondary {
    text-align: center;
    padding: 0px 20px 0px 20px;
    word-wrap:break-word; 
}

@media only screen and (max-width: 1050px){
    .news-container-primary {
        display: flex;
        flex-direction:column; 
        justify-content: center;
        align-items:center; 
        margin: 10px;
    }
}

