.styled-table {
    width: 100%;
    min-width: 100vh;
    border-collapse: collapse;
}

.styled-table th,
.styled-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.styled-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

tr:nth-of-type(odd){
    background-color:rgb(186, 186, 186); 
}

tr:nth-of-type(even){
    background-color: rgb(206, 206, 206); 
}
