.trademenu {
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

.search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
    background-color: var(--main-background-hover-color);
    border-radius: 2%;
}

.search-stock {
    border: 1px solid black;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 500px;
    min-height: 240px;
    border: 2px solid grey;
    margin: 10px 10px 10px 60px;
    color: white;
}

.trade {
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.trade-title {
    margin: 30px 0 30px 0;
    font-weight: bolder;
    font-size: xx-large;
}

.additional-trade-info div {
    margin: 0px 0px 20px 0px; 
}

.search-main {
    display: flex;
    flex-direction: row;
    width: 100vw; 
}

.nav__search {
    width: 100%;
    min-width: 50vh;
}

.buy-sell {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.css-b62m3t-container {
    margin: 20px;
    color: black;
}

@media only screen and (max-width:1300px){
    .search-main{
        align-items: center;
        flex-direction: column;
    }
}

.search-main-realtime {
    display: flex;
    flex-direction: row;
    width: 100vw;
}